<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>node-sample &ndash; Client</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <button id="logout"><%= username %> : se déconnecter</button>
        <div id="results"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>
